body {
  width: 100vw;
  margin: 0;
  color: rgb(6, 93, 116);
  background-color: rgb(243, 243, 243);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0 0 0;
}

p, ul, ol {
  margin: 6px 0;
}

img {
  margin-top: 10px;
}

hr {
  background-color: rgb(92, 157, 164);
  border: none;
  height: 1px;
}

.text-container {
  width: 80%;
  margin: 70px auto;
}

.text-block {
  position: absolute;
  border: 1px solid rgb(92, 157, 164);
  background-color: white;
  padding: 10px;
	top: 10px;
  left: 10px;
	width: 30%;
	text-align: left;
	z-index: 100;
	display: block;
}

#info-1, #info-2, #info-3, #info-4, #info-5, #info-6 {
  background-color: white;
  padding: 10px;
  border: 1px solid rgb(92, 157, 164);
}

#container, #container2 {
  position: absolute;
}

.map {
  display: flex;
  gap: 40px;
}